<h6>Page-Only Selection</h6>
<p-table
        [paginator]="true"
        [rows]="5"
        [selectionPageOnly]="true"
        [value]="products"
        dataKey="code"
        responsiveLayout="scroll"
>
    <ng-template pTemplate="header">
        <tr>
            <th [style.width]="COLUMN_TYPES.checkBox">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th [style.width]="COLUMN_TYPES.icon">Quantity</th>
        </tr>
    </ng-template>
    <ng-template let-product
                 pTemplate="body">
        <tr>
            <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
    </ng-template>
</p-table>
