<form [formGroup]="form">
    <div class="grid">
        <div class="col-3">
            <label for="start">beginDate</label>
            <p-calendar [maxDate]="endDate.value"
                        dateFormat="dd.mm.yy"
                        formControlName="beginDate"
                        id="start"
                        styleClass="w-full"
                        yearRange="{{calendarRanges.default.start}}:{{calendarRanges.default.end}}"></p-calendar>
        </div>
        <div class="col-3">
            <label for="end">endDate</label>
            <p-calendar [minDate]="beginDate.value"
                        dateFormat="dd.mm.yy"
                        formControlName="endDate"
                        id="end"
                        styleClass="w-full"
                        yearRange="{{calendarRanges.default.start}}:{{calendarRanges.default.end}}"></p-calendar>
        </div>
    </div>
</form>

<p>Form value: {{ form.value | json }}</p>
<p>Form value: {{ form.status | json }}</p>
<p>Form status: {{ form.errors | json }}</p>

